.react-directory-filename-column>svg,
.PRIVATE_TreeView-directory-icon>svg,
.PRIVATE_TreeView-item-visual>svg,
#folder-row-0 svg {
  background-size: 100% 100%;
  background-color: transparent;
  height: 1.35em;
  width: 1.35em;
  color: transparent !important;
}
